@import 'bootstrap/dist/css/bootstrap';

.search-area{
  padding-top: 50px;
}
.no-right-padding{
  padding-right: 0px!important;
}
.no-left-padding{
  padding-left: 0px!important;
}
.padding-top{
  padding-top: 2rem;
}
.results-block{
  display: inline-block;
  margin-bottom: 1rem;
}
.table-striped{
  border: 1px solid rgba(0,0,0,.15);
}
.logout-button{
  margin-right: 10px;
}
.alert{
  margin-top: 1.5rem!important;
}
.user-name{
  line-height: 38px;
  padding-right: 15px;
}
